{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title> GIS Info PSP</title>

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="icon" type="image/png" href="{% static 'asset/user/img/favicons/logo-icon.png' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'asset/user/img/favicons/logo-icon.png'  %}">
  <meta name="msapplication-TileImage" content="{% static 'asset/user/img/favicons/logo-icon.png' %}">
  <meta name="theme-color" content="#ffffff">
  <script src="{% static 'js/fetchApi.js' %}"></script>
  
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>

  <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
  <!-- You can alternatively load the minified version -->
  <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="{% static 'asset/user/css/theme.min.css' %}" rel="stylesheet" />
  {% block head %}{% endblock head %}

</head>

<body>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 bg-light opacity-85"
      data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container"><a class="navbar-brand" href="{% url 'home' %}"><img class="d-inline-block align-top img-fluid"
            src="{% static 'asset/user/img/gallery/logoPertanian.png' %}" alt="" width="50" /><span
            class="text-theme font-monospace fs-2 ps-3">GIS Info PSP</span></a><button class="navbar-toggler collapsed"
          type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item px-2"><a class="nav-link fw-medium" href="{% url 'user_lahan' %}">Peta Lahan</a></li>
            <li class="nav-item px-2"><a class="nav-link fw-medium" href="{% url 'user_pupuk' %}">Toko Pupuk Terdekat</a></li>

          </ul>
          <div class="d-flex">
          
          {% if request.user.is_authenticated%}
               <a href="{% url 'dashboard' %}" class="nav-link fw-medium"> <span class="d-none d-sm-inline">Dashboard</span><i class="fa fa-sign-out"></i></a>
                
                {% else %}
                <a href="{% url 'login' %}" class="nav-link fw-medium"><button class="btn btn-lg btn-dark bg-gradient order-0" type="button" id="login-btn" name="button">Login</button></a>
                {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <section class="py-0" id="header">
      <div class="bg-holder d-none d-md-block"
        style="background-image:url(../../static/asset/user/img/illustrations/hero-header.png);background-position:right top;background-size:contain;">
      </div>
      <!--/.bg-holder-->
      <div class="bg-holder d-md-none"
        style="background-image:url(../../static/asset/user/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
      </div>
      <!--/.bg-holder-->

      {% block body %}
      {% endblock %}
      <section class="py-0" id="contact">
      <div class="bg-holder"
        style="background-image:url(../../static/asset/user/img/illustrations/footer-bg.png);background-position:center;background-size:cover;">
      </div>
      <!--/.bg-holder-->
      <div class="container">

        <hr class="text-300 mb-0" />
        <div class="row flex-center py-5">
          <div class="col-12 col-sm-8 col-md-6 text-center text-md-start"> <a class="text-decoration-none" href="#"><img
                class="d-inline-block align-top img-fluid" src="{% static 'asset/user/img/gallery/logoPertanian.png' %}" alt=""
                width="30" /><span class="text-theme font-monospace fs-1 ps-1">Dinas Pertanian</span></a></div>
          <div class="col-12 col-sm-8 col-md-6">
            <p class="fs--1 text-dark my-2 text-center text-md-end"> Versi Beta </p>

          </div>
        </div>
      </div>
    </section>
  </main><!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->`






  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
 
  <script src="{% static 'vendor/@popperjs/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/is/is.min.js' %}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="{% static 'asset/user/js/theme.js' %}"></script>

  <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&amp;display=swap" rel="stylesheet">
  {% block js %}{% endblock %}
</body>
</html>
