{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title> GIS Info PSP</title>

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'asset/user/img/favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'asset/user/img/favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="asset/user/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'asset/user/img/favicons/favicon-16x16.png' %}">
  <meta name="msapplication-TileImage" content="{% static 'asset/user/img/favicons/mstile-150x150.png' %}">
  
  <link rel="manifest" href="{% static 'asset/user/img/favicons/manifest.json' %}">
  <meta name="theme-color" content="#ffffff">

  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link href="{% static 'asset/user/css/theme.min.css' %}" rel="stylesheet" />

</head>

<body>
  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 bg-light opacity-85"
      data-navbar-on-scroll="data-navbar-on-scroll">
      <div class="container"><a class="navbar-brand" href="index.html"><img class="d-inline-block align-top img-fluid"
            src="{% static 'asset/user/img/gallery/logoPertanian.png' %}" alt="" width="50" /><span
            class="text-theme font-monospace fs-2 ps-3">GIS Info PSP</span></a><button class="navbar-toggler collapsed"
          type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item px-2"><a class="nav-link fw-medium active" aria-current="page" href="#header">Home</a>
            </li>
            <li class="nav-item px-2"><a class="nav-link fw-medium" href="map_lahan_umum.html">Peta Lahan</a></li>
            <li class="nav-item px-2"><a class="nav-link fw-medium" href="map_toko_umum.html">Toko Pupuk Terdekat</a></li>

          </ul>
          <form class="d-flex"><button class="btn btn-lg btn-dark bg-gradient order-0" type="submit">Login</button>
          </form>
        </div>
      </div>
    </nav>
    <section class="py-0" id="header">
      <div class="bg-holder d-none d-md-block"
        style="background-image:url(../../static/asset/user/img/illustrations/hero-header.png);background-position:right top;background-size:contain;">
      </div>
      <!--/.bg-holder-->
      <div class="bg-holder d-md-none"
        style="background-image:url(../../static/asset/user/img/illustrations/hero-bg.png);background-position:right top;background-size:contain;">
      </div>
      <!--/.bg-holder-->
      <div class="container">
        <div class="row align-items-center min-vh-75 min-vh-lg-100">
          <div class="col-md-7 col-lg-6 col-xxl-5 py-6 text-sm-start text-center">
            <h1 class="mt-6 mb-sm-4 fw-semi-bold lh-sm fs-4 fs-lg-5 fs-xl-6">Pemetaan Lahan Sawah Berbasis Web <br
                class="d-block d-lg-block" /></h1>
            <a class="btn btn-lg btn-success" href="#" role="button">Lihat Pemetaan</a>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5" id="Opportuanities">
      <div class="bg-holder d-none d-sm-block"
        style="background-image:url(../../static/asset/user/img/illustrations/bg.png);background-position:top left;background-size:225px 755px;margin-top:-17.5rem;">
      </div>
      <!--/.bg-holder-->
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto text-center mb-3">
            <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3"> Header</h5>

          </div>
        </div>
        <div class="row flex-center h-100">
          <div class="col-xl-9">
            <div class="row">
              <div class="col-md-4 mb-5">
                <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6">
                  <div class="text-center text-md-start card-hover"><img class="ps-3 icons"
                      src="{% static 'asset/user/img/icons/farmer.svg' %}" height="60" alt="" />
                      
                    <div class="card-body">
                      <h6 class="fw-bold fs-1 heading-color">Pendataan Menyeluruh</h6>
                      <p class="mt-3 mb-md-0 mb-lg-2">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                        aut fugit, sed quia consequuntur magni dolores eos qui ratione</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-5">
                <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6">
                  <div class="text-center text-md-start card-hover"><img class="ps-3 icons"
                      src="{% static 'asset/user/img/icons/farmer.svg' %}" height="60" alt="" />
                      
                    <div class="card-body">
                      <h6 class="fw-bold fs-1 heading-color">Akses Bagi Seluruh Pemilik Sawah</h6>
                      <p class="mt-3 mb-md-0 mb-lg-2">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mb-5">
                <div class="card h-100 shadow px-4 px-md-2 px-lg-3 card-span pt-6">
                  <div class="text-center text-md-start card-hover"><img class="ps-3 icons"
                      src="{% static 'asset/user/img/icons/planting.svg' %}" height="60" alt="" />
                    <div class="card-body">
                      <h6 class="fw-bold fs-1 heading-color"> Informasi Geografis Sawah </h6>
                      <p class="mt-3 mb-md-0 mb-lg-2">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                        blanditiis praesentium voluptatum deleniti atque corrupti quos</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-8" id="testimonial">
      <div class="container-lg">
        <div class="row flex-center">
          <div class="col-12 col-lg-10 col-xl-12">
            <div class="bg-holder"
              style="background-image:url(../../static/asset/user/img/illustrations/testimonial-bg.png);background-position:top left;background-size:120px 83px;">
            </div>
            <!--/.bg-holder-->
            <h6 class="fs-3 fs-lg-4 fw-bold lh-sm">Tentang Kami <br /></h6>
          </div>
          <div class="carousel slide pt-3" id="carouselExampleDark" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="row h-100 mx-3 mx-sm-5 mx-md-4 my-md-7 m-lg-7 mt-7">
                  <div class="col-md-4 mb-5 mb-md-0">
                    <div class="card h-100 shadow">
                      <div class="card-body my-1">
                        <div class="align-items-xl-center d-block d-xl-flex px-3"><img
                            class="img-fluid me-3 me-md-2 me-lg-3" src="{% static 'asset/user/img/gallery/user-1.png' %}" width="50"
                            alt="" />
                          <div class="flex-1 align-items-center pt-2">
                            <h5 class="mb-0 fw-bold text-success">Bu Endah</h5>
                            <p class="fw-normal text-black">Kepala Bidang</p>
                          </div>
                        </div>
                        <!-- Text Nya -->
                        <p class="mb-0 px-3 px-md-2 px-xxl-3"> </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-5 mb-md-0">
                    <div class="card h-100 shadow">
                      <div class="card-body my-3">
                        <div class="align-items-xl-center d-block d-xl-flex px-3"><img
                            class="img-fluid me-3 me-md-2 me-lg-3" src="{% static 'asset/user/img/gallery/user-2.png' %}" width="50"
                            alt="" />
                          <div class="flex-1 align-items-center pt-2">
                            <h5 class="mb-0 fw-bold text-success">Ilone Pickford</h5>
                            <p class="fw-normal text-black">Head of Agrogofund </p>
                          </div>
                        </div>
                        <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-5 mb-md-0">
                    <div class="card h-100 shadow">
                      <div class="card-body my-3">
                        <div class="align-items-xl-center d-block d-xl-flex px-3"><img
                            class="img-fluid me-3 me-md-2 me-lg-3" src="{% static 'asset/user/img/gallery/user-3.png' %}" width="50"
                            alt="" />
                          <div class="flex-1 align-items-center pt-2">
                            <h5 class="mb-0 fw-bold text-success">Ed O’Brien</h5>
                            <p class="fw-normal text-black">Herbalist</p>
                          </div>
                        </div>
                        <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="row h-100 mx-3 mx-sm-5 mx-md-4 my-md-7 m-lg-7 mt-7">
                  <div class="col-md-4 mb-5 mb-md-0">
                    <div class="card h-100 shadow">
                      <div class="card-body my-3">
                        <div class="align-items-xl-center d-block d-xl-flex px-3"><img
                            class="img-fluid me-3 me-md-2 me-lg-3" src="{% static 'asset/user/img/gallery/user-1.png' %}" width="50"
                            alt="" />
                          <div class="flex-1 align-items-center pt-2">
                            <h5 class="mb-0 fw-bold text-success">Fernando Soler</h5>
                            <p class="fw-normal text-black">Telecommunication Engineer</p>
                          </div>
                        </div>
                        <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;Quis autem vel eum iure reprehenderit qui in ea
                          voluptate velit esse quam nihil molestiae</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-5 mb-md-0">
                    <div class="card h-100 shadow">
                      <div class="card-body my-3">
                        <div class="align-items-xl-center d-block d-xl-flex px-3"><img
                            class="img-fluid me-3 me-md-2 me-lg-3" src="{% static 'asset/user/img/gallery/user-2.png' %}" width="50"
                            alt="" />
                          <div class="flex-1 align-items-center pt-2">
                            <h5 class="mb-0 fw-bold text-success">Ilone Pickford</h5>
                            <p class="fw-normal text-black">Head of Agrogofund Groups </p>
                          </div>
                        </div>
                        <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-5 mb-md-0">
                    <div class="card h-100 shadow">
                      <div class="card-body my-3">
                        <div class="align-items-xl-center d-block d-xl-flex px-3"><img
                            class="img-fluid me-3 me-md-2 me-lg-3" src="{% static 'asset/user/img/gallery/user-3.png' %}" width="50"
                            alt="" />
                          <div class="flex-1 align-items-center pt-2">
                            <h5 class="mb-0 fw-bold text-success">Ed O’Brien</h5>
                            <p class="fw-normal text-black">Herbalist</p>
                          </div>
                        </div>
                        <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;Ui dolorem eum fugiat quo voluptas nulla pariatur?
                          At vero eos et accusamus et iusto odio</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row h-100 mx-3 mx-sm-5 mx-md-4 my-md-7 m-lg-7 mt-7">
                  <div class="col-md-4 mb-5 mb-md-0">
                    <div class="card h-100 shadow">
                      <div class="card-body my-3">
                        <div class="align-items-xl-center d-block d-xl-flex px-3"><img
                            class="img-fluid me-3 me-md-2 me-lg-3" src="{% static 'asset/user/img/gallery/user-1.png' %}" width="50"
                            alt="" />
                          <div class="flex-1 align-items-center pt-2">
                            <h5 class="mb-0 fw-bold text-success">Fernando Soler</h5>
                            <p class="fw-normal text-black">Telecommunication Engineer</p>
                          </div>
                        </div>
                        <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;Quis autem vel eum iure reprehenderit qui in ea
                          voluptate velit esse quam nihil molestiae</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-5 mb-md-0">
                    <div class="card h-100 shadow">
                      <div class="card-body my-3">
                        <div class="align-items-xl-center d-block d-xl-flex px-3"><img
                            class="img-fluid me-3 me-md-2 me-lg-3" src="{% static 'asset/user/img/gallery/user-2.png' %}" width="50"
                            alt="" />
                          <div class="flex-1 align-items-center pt-2">
                            <h5 class="mb-0 fw-bold text-success">Ilone Pickford</h5>
                            <p class="fw-normal text-black">Head of Agrogofund Groups </p>
                          </div>
                        </div>
                        <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;At vero eos et accusamus et iusto odio dignissimos
                          ducimus qui blanditiis praesentium </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-5 mb-md-0">
                    <div class="card h-100 shadow">
                      <div class="card-body my-3">
                        <div class="align-items-xl-center d-block d-xl-flex px-3"><img
                            class="img-fluid me-3 me-md-2 me-lg-3" src="{% static 'asset/user/img/gallery/user-3.png' %}" width="50"
                            alt="" />
                          <div class="flex-1 align-items-center pt-2">
                            <h5 class="mb-0 fw-bold text-success">Ed O’Brien</h5>
                            <p class="fw-normal text-black">Herbalist</p>
                          </div>
                        </div>
                        <p class="mb-0 px-3 px-md-2 px-xxl-3">&quot;Ui dolorem eum fugiat quo voluptas nulla pariatur?
                          At vero eos et accusamus et iusto odio</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row px-3 px-sm-6 px-md-0 px-lg-5 px-xl-4">
              <div class="col-12 position-relative"><a class="carousel-control-prev carousel-icon z-index-2"
                  href="#carouselExampleDark" role="button" data-bs-slide="prev"><span
                    class="carousel-control-prev-icon" aria-hidden="true"></span><span
                    class="visually-hidden">Previous</span></a><a class="carousel-control-next carousel-icon z-index-2"
                  href="#carouselExampleDark" role="button" data-bs-slide="next"><span
                    class="carousel-control-next-icon" aria-hidden="true"></span><span
                    class="visually-hidden">Next</span></a></div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="py-0" id="contact">
      <div class="bg-holder"
        style="background-image:url(../../static/asset/user/img/illustrations/footer-bg.png);background-position:center;background-size:cover;">
      </div>
      <!--/.bg-holder-->
      <div class="container">

        <hr class="text-300 mb-0" />
        <div class="row flex-center py-5">
          <div class="col-12 col-sm-8 col-md-6 text-center text-md-start"> <a class="text-decoration-none" href="#"><img
                class="d-inline-block align-top img-fluid" src="{% static 'asset/user/img/gallery/logoPertanian.png' %}" alt=""
                width="30" /><span class="text-theme font-monospace fs-1 ps-1">Dinas Pertanian</span></a></div>
          <div class="col-12 col-sm-8 col-md-6">
            <p class="fs--1 text-dark my-2 text-center text-md-end"> Versi Beta </p>

          </div>
        </div>
      </div>
    </section>
  </main><!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->`



  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="{% static 'vendor/@popperjs/popper.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>
  <script src="{% static 'vendor/is/is.min.js' %}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
  <script src="{% static 'asset/user/js/theme.js' %}"></script>
  <link href="https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&amp;display=swap" rel="stylesheet">
</body>
</html>
